<!DOCTYPE html>
<html>
    <head>
        <title>ePatriote Dev High School</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../../../assets/css/main.css" />
        <link rel="stylesheet" href="../../../assets/css/form.css" />
        <link rel="stylesheet" href="../../../assets/css/usersInterface.css">

    </head>
    <body>

        <div class="container-program">
            <div class="illustration-program">
                <img class="illustration-img-program" src="../../../assets/images/undraw_warning_cyit.svg" alt="1">
            </div>
            <h1>[Nous sommes en maintenance]</h1>
        </div>

    </body>
</html>