#page-content{
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
}
.pack{
        width: 30%;
        min-height: 400px;
        opacity: 1;
        border-radius: 15px;
        text-align: left;
        color: black;      
}

.pack:hover{
    background-color: #f9a826;
}


.represent{
    width: 100%;
    height: 200px;
    background-color: #f9a826;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-repeat: no-repeat;
}
