
#contenu{
    width: 100%;
    min-height: 750px;
    padding-bottom: 20vh;
}

h1{
    text-align: center;
}

form{
    border-radius: 5px;
    width: 50%;
    min-height: 100px;
    background-color: #f9A826;
    margin: auto;
    margin-bottom: 2%;
    margin-top: 2%;
}

.contain-full{
    width: 100%;
    height: 300px;
    background-size: 100% 100%;
}

img{
    display: block;
    width: 100%;
    height: 100%;
}

table{
    min-width: 60%;
    height: 80%;
    background-color: #f9A826;
    margin: auto;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

tr{
    margin-bottom: 1%;
}

p{
    text-align: center;
}

.envoie{
    margin: 20px;
    width: 100px;
    color: #F9A826;
    display: inline-block;
    background-color: black;
    padding: 5px;
    text-decoration: none;
    border-radius: 10px ;
}

.envoie:hover{
    opacity: 0.9;
}

input,textarea,select{
    width: 100%;
    border-radius: 5px;
    border-style: none;
}
