<!DOCTYPE html>
<html>
    <head>
        <title>ePatriote Dev High School</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../../../assets/css/main.css" />
        <link rel="stylesheet" href="../../../assets/css/form.css" />
        <link rel="stylesheet" href="../../../assets/css/abouts.css" />
    </head>
    <body>

        <header>

            <nav>

                <div><a class="navLink" href="../../publics/home/index.html">Accueil</a></div>
                <div><a class="navLink" href="../../publics/home/contacts.html">Contacs</a></div>
                <div><a class="navLink" href="../../publics/home/abouts.html">A propos</a></div>
                <div><a class="navLink" href="../../connections/signup.html">S'inscrire</a></div>
                <div><a class="navLink" href="../../connections/signin.html">Se connecter</a></div>

            </nav>

        </header>

        <div id="contenu">

            <h1>[A propos de nous]</h1>

            <div class="contain-full">
                <img src="../../../assets/images/team.svg" alt="1">
            </div>

            <section id="page-content">
                <div class="pack">
                    <a href="#"><div class="represent"></div></a>
                    <h3>[vytftcvy]</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus illum pariatur amet dignissimos omnis consequuntur sint nulla voluptatum modi laudantium necessitatibus expedita saepe incidunt nemo officia, nam, quibusdam aliquid ea.</p>
                </div>

                <div class="pack">
                    <a href="#"><div class="represent"></div></a>
                    <h3>[vytftcvy]</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus doloremque sapiente voluptatum, cupiditate soluta porro blanditiis unde sunt. Laboriosam debitis minima omnis laborum. Optio cupiditate veritatis autem perspiciatis harum dignissimos?</p>
                </div>

                <div class="pack">
                    <a href="#"><div class="represent"></div></a>
                    <h3>[vytftcvy]</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur quod nobis, consequuntur inventore facere illum accusantium voluptate in perspiciatis recusandae quo omnis error deserunt excepturi dolorem quae suscipit quas eos!</p>
                </div>

            </section>

            <div class="container">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic 
                possimus quaerat impedit temporibus in. Ab, provident totam corporis culpa
                repellendus quisquam, error excepturi, fugit architecto saep
                e optio tempora eveniet corrupti?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto iusto obcaecati 
                voluptatum cumque hic eligendi 
                facere, tenetur ipsum eius maior Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum nam voluptatem modi omnis doloribus illum 
                fugit autem assumenda aliquid nemo voluptatum cum 
                aspernatur sint sapiente dolores, ipsa, veniam dolor soluta.
                es sint expedita. Tenetur maiores nulla soluta mollitia molestiae saepe consectetur!
            </div>

        </div>

        <footer>

                <div class="leftfoot">
                    <p><a class="navLink" href="#">L'administration</a></p><br>
                    <p><a class="navLink" href="#">Nos services</a></p><br>
                    <p><a class="navLink" href="#">Nos formations</a></p><br>
                    <p><a class="navLink" href="#">Contacts</a></p><br>
                    <p><a class="navLink" href="#">S'inscrire</a></p><br>
                    <p><a class="navLink" href="#">Se connecter</a></p>
                </div>

                <div class="rightfoot">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Nesciunt harum nam ullam deserunt numquam quisquam asperiores h
                        ic facilis architecto ipsa recusandae, necessitatibus magni ab
                         veniam saepe iure dolore sint fuga. Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores laborum, quia alias delectus natus velit maiores, 
                        vel error excepturi ex hic quasi doloremque iure vitae ipsam, odio sin
                        t maxime eum.</p>
                </div>
                
        </footer>

    </body>
</html>