<!DOCTYPE html>
<html>
    <head>
        <title>ePatriote Dev High School</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../../../assets/css/main.css" />
    </head>
    <body>

        <header class="entete">

            <nav>

                <div class="navigation"><a class="navLink" href="index.html">Accueil</a></div>
                <div class="navigation"><a class="navLink" href="contacts.html">Contacs</a></div>
                <div class="navigation"><a class="navLink" href="abouts.html">A propos</a></div>
                <div class="navigation"><a class="navLink" href="../../connections/signup.html">S'inscrire</a></div>
                <div class="navigation"><a class="navLink" href="../../connections/signin.html">Se connecter</a></div>

            </nav>
            <div>

                <div class="texte">
                    <h1 id="title">ePatriote Dev High School</h1>
                    <h3 id="sub-title">L'expertise à votre service</h3>
                </div>
    
                <div class="bouton">
                    <a href="#signup">
                        <span>Nous découvrir</span>
                        <img src="../../../assets/images/suivant.png" alt="suivant">
                    </a>
                </div>

            </div>
            
            <div id="signup"></div>
        </header>

        <section class="container container-gray">

            <div class="illustration">
                <img class="illustration-img" src="../../../assets/images/sign.svg" alt="1">
            </div>

            <div class="content">
                <h2>Inscivez vous</h2>
                <a>en un click</span>
                <div><a href="../connections/signup.html" class="click">ici</a></div>
            </div>

        </section>

        <section id="mobile" class="container container-yellow">

            <div class="content">
                <h2>Retrouvez-nous sur mobile</h2>
            </div>

            <div class="illustration">
                <img class="illustration-img" src="../../../assets/images/undraw_mobile_images_rc0q.svg" alt="2">
            </div>

        </section>

        <section id="abouts" class="container container-gray">
            <div class="illustration">
                <img class="illustration-img" src="../../../assets/images/team.svg" alt="2">
            </div>

            <div class="content">
                <h2 class="titre">A propos de nous</h2>
                <p> 
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Dolores harum neque rerum totam at quia aut non, nulla autem quod
                    esse aliquam quidem sapiente perspiciatis deserunt reprehenderit 
                    facilis ducimus vitae... <a class="link" href="abouts.html">plus d'informations</a>
                </p>
            </div>

        </section>

        <section id="contacts" class="container container-yellow">

            <div class="content">
                <h2>Nous contacter</h2>
            </div>

            <div class="illustration">
                <img class="illustration-img" src="../../../assets/images/contacts.svg" alt="2">
            </div>

        </section>


        <footer>

                <div class="leftfoot">
                    <p><a class="navLink" href="#">L'administration</a></p><br>
                    <p><a class="navLink" href="#">Nos services</a></p><br>
                    <p><a class="navLink" href="#">Nos formations</a></p><br>
                    <p><a class="navLink" href="#">Contacts</a></p><br>
                    <p><a class="navLink" href="#">S'inscrire</a></p><br>
                    <p><a class="navLink" href="#">Se connecter</a></p>
                </div>

                <div class="rightfoot">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Nesciunt harum nam ullam deserunt numquam quisquam asperiores h
                        ic facilis architecto ipsa recusandae, necessitatibus magni ab
                         veniam saepe iure dolore sint fuga. Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores laborum, quia alias delectus natus velit maiores, 
                        vel error excepturi ex hic quasi doloremque iure vitae ipsam, odio sin
                        t maxime eum.</p>
                </div>
                
        </footer>
    </body>
</html>